<header
    id="topnav"
    role="banner"
    class="navbar navbar-default navbar-fixed-top"
    ng-cloak>

    <div class="logo-area">
        <span id="trigger-sidebar"  ng-click="toggleLeftBar()" class="toolbar-trigger toolbar-icon-bg">
            <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
                <span class="icon-bg">
                    <i class="ti ti-menu"></i>
                </span>
            </a>
        </span>

        <a href="#/" style="padding-top:18px">GROWSARI</a>
    </div>

    <ul class="nav navbar-nav pull-right toolbar">
        <li class="toolbar-icon-bg visible-xs-block">
            <a href="" ><span class="icon-bg"><i class="ti ti-search"></i></span></a>
        </li>
        <li class="toolbar-icon-bg">
            <a href="" ><span class="icon-bg" ng-click="refresh()"><i class="ti ti-reload"></i></span></a>
        </li>
        <li class="dropdown" uib-dropdown>
            <a href class="dropdown-toggle username" uib-dropdown-toggle ><img src="./assets/avatar/person.png" alt="Jonathan Smith" /></a>
            <ul class="dropdown-menu animated userinfo arrow">
                <li><a href="#/"><i class="ti ti-user"></i><span>Profile</span></a></li>
                <li><a href="#/"><i class="ti ti-panel"></i><span>Account</span></a></li>
                <li><a href="#/"><i class="ti ti-settings"></i><span>Settings</span></a></li>
                <li class="divider"></li>
                <li><a href="#/logout"><i class="ti ti-shift-right"></i><span>Sign Out</span></a></li>
            </ul>
        </li>
    </ul>
</header>
