<div class="static-sidebar" role="navigation">
  <div class="sidebar">
    <div class="widget" ng-cloak>
      <div class="widget-body">
        <div class="userinfo">
          <div class="avatar">
            <img masked-image src="./assets/avatar/person.png" class="img-responsive img-circle">
          </div>
          <div class="info">
            <span class="username">{{userSession.account.displayName}}</span>
            <span class="useremail">{{userSession.account.email}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="widget stay-on-collapse">
      <nav class="widget-body">
        <ul ng-controller="NavigationController as nav" class="acc-menu" sticky-scroll="40">
          <li ng-repeat="item in menu"
              ng-class="{ hasChild: (item.children !== undefined),
													active: item.selected,
													  open: (item.children !== undefined) && item.open,
										   'nav-separator': item.separator == true,
					            			'search-focus': (searchQuery.length > 0 && item.selected) }" 
              ng-show="!(searchQuery.length && !item.selected)"
              ng-include="'./js/modules/layout/views/nav_renderer.html'"
              ></li>
        </ul>
      </nav>
    </div>

  </div>
</div> <!-- #sidebar-->

