<div class="container-fluid">    
    <div data-widget-group="group1" class="ui-sortable">
        <div class=" page-heading" id="page-heading">
            <span ng-if="!shipperAddEdit.shipper.id">Add Shipper</span>
            <span ng-if="shipperAddEdit.shipper.id">Edit Shipper</span>
        </div>
        <div class="panel panel-default add-panel">
            <div class="panel-body">
                <form ng-submit="submitDataWithFile()" enctype="multipart/form-data" id="shipperForm" class="form-horizontal row-border ng-pristine ng-valid">
                    <input class="form-control"  type="hidden" ng-model="shipperAddEdit.shipper.id">
                    
                    <div class="form-group">
                        <label class="col-md-2 control-label"> Name *</label>
                        <div class="col-md-8 name-field">
                            <input class="form-control" type="text" ng-model="shipperAddEdit.shipper.name">
                        </div>
                    </div>
                    <div class="form-group" ng-if="!shipperAddEdit.shipper.id">
                        <label class="col-md-2 control-label">Username *</label>
                        <div class="col-md-8 name-field">
                            <input class="form-control" type="text"  ng-model="shipperAddEdit.shipper.username">
                        </div>
                    </div>
                    <div class="form-group" ng-if="!shipperAddEdit.shipper.id">
                        <label class="col-md-2 control-label">Password *</label>
                        <div class="col-md-8 name-field">
                          <input class="form-control" type="password"  ng-model="shipperAddEdit.shipper.password" placeholder="min 6 characters">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Contact Number * </label>
                        <div class="col-md-8">
                            <input class="form-control" type="text"  ng-model="shipperAddEdit.shipper.contact_no">
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="submit-btn-div col-md-6">
                            <span class="btn btn-primary-alt btn-label btn-growsari" ng-click="shipperAddEdit.submitShipper()">Submit</span>
                        </div>
                        <div class="cancel-btn-div col-md-6">
                            <span class="btn btn-primary-alt btn-label btn-growsari" id="cancelForm" ng-click="shipperAddEdit.cancel()">Cancel</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>